services:
  reportes_cba:
    container_name: reportes_cba
    build: 
      context: https://oauth2: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@github.com/Dir-Tecno/TableroGeneral.git
    restart: unless-stopped
    networks:
      front-net:
        ipv4_address: 172.21.0.4
    ports:
      - 8501:8501
    environment:
      - GITLAB_TOKEN=glpat-jdZnZLkoh1TVj1v5YxGb
      - SLACK_WEBHOOK_URL="https://hooks.slack.com/services/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"

networks:
  front-net:                #Gateway: 172.21.0.1
    external: true          #Subnet:      #Subnet: IP_ADDRESS/16